.container {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  width: 1200px;
  text-align: center;
}

.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  font-weight: 700;

  margin-bottom: 60px;
}
